body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Optima', sans-serif;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.72), rgba(21, 19, 117, 0.73)), url('../img/sobre.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 130%;
}

.img-lorem{
    width: 30%;
}

.nav{
    font-family: 'Optima', sans-serif;
}

.titulo{
    font-family: 'Optima', sans-serif;
}

.inicio p{
    text-align: justify;
    text-indent: 3.5em;
}

.nav-link{
    color:#0A1128;
}

#logo{
    border-radius: 5px;
}

.nav-buttons{
    margin-top: 0.7em;
}

.nav-link:hover{
    color:#1282A2;
}

.active:hover{
    color:#1282A2;
}

.textos{
    text-align: justify;
    margin-bottom: 5em;
}

.sobre-o-projeto{
    text-align: center;
    color:#0A1128;
    font-family: 'Optima', sans-serif;
}

.conteudo{
    background-color: #001F54;
    color: white;
    padding: 5em 5em 5em 5em;
    border-radius: 2em;
    box-shadow: 0 0 2em #1282A2;
}
